*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#container{
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
}

#clock{
    width:  40vmax;
    height: 40vmax;
    position: relative;
    background-image: url(clock.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#hours,#minutes,#seconds{
    position: absolute;
    transform-origin: bottom;
    background-color: black;
    border-radius: 20px;
}
#hours{
    width: 2%;
    height: 29%;
    top: 21.4%;
    left: 48.7%;
}
#minutes{
    left: 49%;
    top: 15.4%;
    width: 1.5%;
    height: 35%;
}
#seconds{
    width: 1%;
    height: 40%;
    top: 10.4%;
    left: 49.24%;
}
#date{
    position: absolute;
    text-align: center;
    width: 23%;
    height: 10%;
    border: 1px solid black;
    top: 44%;
    left: 62%;
}
#line{
    position: absolute;
    width: 1px;
    height: 10%;
    top:44%;
    left: 70.4%;
    background-color: black;
}